@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #03050C;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.cardlinearbg{
  background: linear-gradient(
  to right, 
  #080A10 7%, 
  #1D2029 34%, 
  #0E1016 57%, 
  #262A36 85%, 
  #06080C 100%
);

}