@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #03050c;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Hide scrollbar but keep scrolling */
html, body {
  overflow: hidden;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}


.grayscale {
  filter: invert(100%) grayscale(100%) contrast(100%);
}

.blur-background {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.hoverbtn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease-in-out;
  border: 1px solid #ffffff94;
  pointer-events: all;
}

.hoverbtn:hover {
  color: #FD6F00;
  border: 1px solid #FD6F00;
}

.hoverbtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  color: #FD6F00;
  background: #03050c;
  transition: left 0.5s ease-in-out;
  z-index: -1;
}

.hoverbtn:hover::before {
  left: 0;
}

.card {
  background:
    url('/card1.png') no-repeat center/cover;
  padding: 21px;
  width: 574px;
  height: 165px;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border-radius: 14px;
}


