@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #03050c;
  color: white;
  font-family: "Poppins", sans-serif;
}

.cardlinearbg {
  height: 284px;
  background: linear-gradient(
    135deg, /* Adjusted angle to align the gradient properly */
    #1d2029, /* Starting color */
    #080a10 50%, /* Midpoint color */
    #262a36 /* Ending color */
  );
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Text color */
  font-family: Arial, sans-serif;
  text-align: center;
}


.grayscale {
  filter: invert(100%) grayscale(100%) contrast(100%);}
